version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: event_warehouse_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
      - ./schema_raw.sql:/docker-entrypoint-initdb.d/01_schema_raw.sql
      - ./schema_star.sql:/docker-entrypoint-initdb.d/02_schema_star.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4
    container_name: event_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@event.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  pg_data:
